@import "setup";
@import "bourbon/bourbon";
@import "neat/neat";

@mixin flex{
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
display: flex;
}
//color variables

$color01: #D2105E;
$color02: #6e6f71;
$color03: #d2d3d5;
$color04: #141414;
$color05:#303030;
$color06:#fff;
$color07: #b9d4d3;

//font variables

$font01: 'Roboto Condensed', sans-serif;
$font02: 'Muli', sans-serif;

body{
	font-size: 18px;
	line-height: 27px;
	font-family: $font02;
	color: $color05;
	 background:
	    repeating-linear-gradient(
	  45deg,
	  #e8ecea,
	  #e8ecea 2px,
	  #d2d3d5 2px,
	  #d2d3d5 12px,
	  #e8ecea 12px,
	  #e8ecea 14px,
	  #e7e3e5 14px,
	  #e7e3e5 24px   
	),
	    repeating-linear-gradient(
	  135deg,
	  #e8ecea,
	  #e8ecea 2px,
	  #d2d3d5 2px,
	  #d2d3d5 12px,
	  #e8ecea 12px,
	  #e8ecea 14px,
	  #e7e3e5 14px,
	  #e7e3e5 24px   
	);
	  background-blend-mode: overlay;
}

.main-header{
	z-index:10;
	position: relative;
	background-image: url("../images/BG01.jpeg");
	// background-attachment: fixed;
	background-size: cover;
	padding-bottom: 200px;
	.title{
		padding-top: 20%;
		padding-left: 20%;
	}

	h1{
		font-size: 50px;
		line-height: 50px;
		margin-top: 0;
		margin-left: 1%;
		padding-top: 1%;
		margin-bottom: 0;
		font-family: $font01;
		font-weight: 700;
		letter-spacing: -7px;
		color: $color01;
		span.andMark{
			color:$color02;
			font-size: 40px;
			// font-family: $font02;
			font-weight:700;			// font-weight: 400;
		}
	}
	h2{
		font-size: 18px;
		margin-top: 0;
		margin-left: 1%;
		display: inline-block;
		width: 20%;
		color: $color02;
		font-weight: 400;
		position: relative;
		&:before{
			content:"";
			width: 3px;
			height:20px;
			position: absolute;
			bottom: -7px;
			right:30%;
			background-color: $color01;
		}
		&:after{
			content:"";
			width: 20px;
			height:3px;
			position: absolute;
			bottom: -7px;
			right:30%;
			background-color: $color01;
		}
	}
	img{
		width: 6%;
		position: absolute;
		right:1%;
		top:2%;
	}
	h3{
		font-size: 50px;
		margin-top: 1%;
		margin-bottom: 4%;
		margin-left: 1%;
		z-index: 15;
		// font-family: $font01;
		color: $color05;
		text-transform: uppercase;
		position: relative;
		&:before{
			content:"";
			display: block;
			position: absolute;
			top: -63%;
			left:-50%;
			width: 200%;
			height: 60px;
			background-color: rgba(255,255,255,0.5);
		}
	}
	button.start{
		// margin-top: 0;
		margin-left: 1%;
		font-family: $font02;
		padding:1% 3%;
		font-weight: 300;
		color:$color06;
		outline: none;
		border:none;
		background-color: $color01;
		border-radius:2px;
		transition: background 0.3s ease-in;
		&:hover{
			background-color: darken($color01,10%)
		}
		// box-shadow: 0px 2px 2px 1px darken($color01, 10%);
	}
}  //end of main header styles


// search section styles
.search_artist{
		@include outer-container;
	  h4{
	  	@include span-columns(6);
	  	@include shift(4);
	  	margin-top: 0;
	  	font-family: $font01;
	  	font-size: 30px;
	  	padding-top: 10%;
	  	color:$color02;
	  	position: relative;
	  	&:after{
	  		content:"";
	  		width: 30px;
	  		height:3px;
	  		position: absolute;
	  		bottom: -15px;
	  		left:0;
	  		background-color: $color01;
	  	}
	  }
	  p{
	  	@include span-columns(12);
	  	@include shift(4);
	  }
	  .search_form{
	  	@include span-columns(12);
	  	@include shift(4);
	  	margin-top: 3%;
	  	.search_field{
	  		@include span-columns(9.5 of 12);
	  		padding: 1.5% 2%;
	  		background: $color06;
	  		font-size: 16px;
	  		outline: none;
	  		border:none;
	  		margin-right: 0;
	  		// text-transform: capitalize;
	  		font-weight: 300;

	  	}
	  	.search_field::-webkit-input-placeholder {
	  	   color: $color02;
	  	   font-size: 16px;
	  		// line-height: 24px;
	  		font-weight: 300;
	  	}
	  	.search_button{
	  		@include span-columns(1.8 of 10);
	  		padding: 1.5% 2%;
	  		background: $color01;
	  		outline: none;
	  		border:none;
	  		text-transform: capitalize;
	  		font-weight: 300;
	  		color:$color06;
	  		font-size: 16px;
	  		transition: background 0.3s ease-in;
	  		&:hover{
	  			background-color: darken($color01,10%)
	  		}

	  	}
	  }
	  .search_radioButtons{
	  	clear: both;
	  	// position: absolute;
	  	// top:0;
	  	max-width: 720px;
	  	margin: 3% auto;
	  	height:200px;
	  	padding: 5% 0;
		@include flex;
		-webkit-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		justify-content : space-around;
	  }
	  input[type=radio]{
	  	display: none;
	  }
	  input[type=radio]:checked + label.artistLabel{
	  	background: $color01;
	  	color:$color06;
	  	box-shadow: inset 1px 1px 3px $color06;
	  }
	  .artistLabel{
	  	display: inline-block;
	  	padding: 1% 2%;
	  	color:$color06;
	  	background-color: $color05;
	  	margin-bottom: 3%;
	  	font-size: 14px;
	  	font-weight: 300;
	  	box-shadow: 3px 3px 0 0 $color07;
	  	transition: all 0.3s ease-in;
	  }

}

// display portion style


section.display_artist{
	background: $color05;
	ul{
		margin-top: 3%;
		margin-bottom:3%;
		padding:0;
		@include outer-container;
		li{
			@include span-columns(6);
			@include omega(3n);
			background-color: $color06;
			height:100px;
			margin-top: 3%;
			margin-bottom:3%;
		}
		li:nth-child(1){
			@include shift(1);
		}
	}

}